--/****** Object:  StoredProcedure [TEST].[WR_TX_L1_FACT_SALES_ACCOUNTING__L1_FACT_F_SALES_FINANCE_RECONCILIATION]    Script Date: 29/09/2023 09:04:31 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--ALTER PROC [TEST].[WR_TX_L1_FACT_SALES_ACCOUNTING__L1_FACT_F_SALES_FINANCE_RECONCILIATION] @NUM_POSTING_YEAR [int],@NUM_POSTING_PERIOD [int] AS

--BEGIN
DECLARE @NUM_POSTING_YEAR int = 2023,  @NUM_POSTING_PERIOD int= 9
/*****************************************************************************
** Delete data that may already being calculated for the same period
*****************************************************************************/

DELETE FROM [L1].[L1_FACT_F_SALES_FINANCE_RECONCILIATION] WHERE [NUM_POSTING_YEAR]=@NUM_POSTING_YEAR AND  [NUM_POSTING_PERIOD] =@NUM_POSTING_PERIOD
/*****************************************************************************
** CTE responsible for calculate for the given period the values from ACDOCA based transactions
** according to the kpi accounting matrix
*****************************************************************************/

; WITH  CTE_ACDOCA as (
	SELECT 
		   [CD_DOCUMENT_NO]  AS [CD_DOCUMENT_NO]
		  ,[NUM_POSTING_YEAR]
		  ,[NUM_POSTING_PERIOD]
		  ,MAX(CD_DOCUMENT_TYPE_FI)												AS CD_DOCUMENT_TYPE_FI
		  ,SUM(ISNULL(AMT_NET_ORDER_VALUE_FI_EUR,0) )							AS AMT_NET_ORDER_VALUE_FI_EUR
		  ,SUM(ISNULL(AMT_NET_ORDER_VALUE_MANUAL_POSTING_FI_EUR,0) )							AS AMT_NET_ORDER_VALUE_MANUAL_POSTING_FI_EUR

		  ,SUM(ISNULL(AMT_REVENUE_MANUAL_POSTING_FI_EUR,0))						AS AMT_REVENUE_MANUAL_POSTING_FI_EUR
		  ,SUM(ISNULL(AMT_REFUNDED_ORDER_VALUE_FI_EUR,0))						AS AMT_REFUNDED_ORDER_VALUE_FI_EUR	
		  ,SUM(ISNULL(AMT_REFUNDED_MANUAL_POSTING_FI_EUR,0))						AS AMT_REFUNDED_MANUAL_POSTING_FI_EUR	

		  ,SUM(ISNULL(AMT_NET_PRODUCT_COST_FI_EUR,0))							AS AMT_NET_PRODUCT_COST_FI_EUR

		  ,SUM(ISNULL(AMT_FX_HEDGING_IMPACT_FI_EUR,0) )							AS AMT_FX_HEDGING_IMPACT_FI_EUR
		  ,SUM(ISNULL(AMT_COGS_STOCK_ADJUSTMENTS_FI_EUR,0) )					AS AMT_COGS_STOCK_ADJUSTMENTS_FI_EUR
		  ,SUM(ISNULL(AMT_DEMURRAGE_DETENTION_FI_EUR,0) )						AS AMT_DEMURRAGE_DETENTION_FI_EUR
		  ,SUM(ISNULL(AMT_DEADFREIGHT_FI_EUR,0) )								AS AMT_DEADFREIGHT_FI_EUR
		  ,SUM(ISNULL(AMT_KICKBACKS_FI_EUR,0) )									AS AMT_KICKBACKS_FI_EUR
		  ,SUM(ISNULL(AMT_3RD_PARTY_SERVICES_FI_EUR,0) )						AS AMT_3RD_PARTY_SERVICES_FI_EUR
		  ,SUM(ISNULL(AMT_RMA_FI_EUR,0) )										AS AMT_RMA_FI_EUR
		  ,SUM(ISNULL(AMT_SAMPLES_FI_EUR,0) )									AS AMT_SAMPLES_FI_EUR
		  ,SUM(ISNULL(AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_FI_EUR,0) )			AS AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_FI_EUR
		  ,SUM(ISNULL(AMT_INBOUND_FREIGHT_COST_FI_EUR,0) )						AS AMT_INBOUND_FREIGHT_COST_FI_EUR
		  ,SUM(ISNULL(AMT_PO_CANCELLATION_FI_EUR,0) )							AS AMT_PO_CANCELLATION_FI_EUR


		 ,SUM(ISNULL(AMT_OTHER_COSTS_EFFECTS_FI_EUR,0) )						AS AMT_OTHER_COSTS_EFFECTS_FI_EUR
		 ,SUM(ISNULL(AMT_COGS_RECONCILIATION_FI_EUR     ,0) )        			AS AMT_COGS_RECONCILIATION_FI_EUR
		 ,SUM(ISNULL(AMT_NET_PRODUCT_COST_GTS_FI_EUR      ,0) )      			AS AMT_NET_PRODUCT_COST_GTS_FI_EUR
		 ,SUM(ISNULL(AMT_NET_PRODUCT_COST_RETURNS_FI_EUR       ,0) ) 			AS AMT_NET_PRODUCT_COST_RETURNS_FI_EUR
		 ,SUM(ISNULL(AMT_NET_PRODUCT_COST_GTS_RETURNS_FI_EUR  ,0) )   			AS AMT_NET_PRODUCT_COST_GTS_RETURNS_FI_EUR
		 ,SUM(ISNULL(AMT_NET_PRODUCT_COST_Z92_FI_EUR          ,0) )   			AS AMT_NET_PRODUCT_COST_Z92_FI_EUR
		 ,SUM(ISNULL(AMT_NET_PRODUCT_COST_GTS_Z92_FI_EUR      ,0) )   			AS AMT_NET_PRODUCT_COST_GTS_Z92_FI_EUR
		 ,SUM(ISNULL(AMT_STOCK_VALUE_ADJUSTMENTS_FI_EUR       ,0) )   			AS AMT_STOCK_VALUE_ADJUSTMENTS_FI_EUR
		 ,SUM(ISNULL(VL_REFUNDED_QTY_WITHOUT_RETURNS_VALUE_FI ,0) )   			AS VL_REFUNDED_QTY_WITHOUT_RETURNS_VALUE_FI
		 ,SUM(ISNULL(VL_REFUNDED_QTY_VALUE_FI                 ,0) )   			AS VL_REFUNDED_QTY_VALUE_FI
		 ,SUM(ISNULL(VL_REPLACEMENT_QTY_VALUE_FI			  ,0) )    			AS VL_REPLACEMENT_QTY_VALUE_FI
		  FROM L1.L1_FACT_A_SALES_ACCOUNTING_VALUE							
	  WHERE 
		[NUM_POSTING_YEAR] = @NUM_POSTING_YEAR 
		AND [NUM_POSTING_PERIOD] =@NUM_POSTING_PERIOD
	 GROUP BY [CD_DOCUMENT_NO],[NUM_POSTING_YEAR],[NUM_POSTING_PERIOD]
),
/*****************************************************************************
** CTE responsible for calculate the PL line based on sales orders data. It's not 
** limited by period, as we may have sales values recoghnize this period but not invoiced
** or invoiced but sales recognized in previous periods
*****************************************************************************/
 CTE_SALES_ORDERS as 
(

	SELECT 
		 CASE WHEN CD_TYPE in   ('ZRBI','ZREM','ZRSD','ZRET','ZGA1','ZGA2','ZGK','ZKR') and isnull(CD_DOCUMENT_ID_REFERENCE,'') <> '' AND CD_DOCUMENT_ID_REFERENCE like '14%' 
				THEN  CD_DOCUMENT_ID_REFERENCE  
			  WHEN CD_TYPE in   ('ZRBI','ZREM','ZRSD','ZRET','ZGA1','ZGA2','ZGK','ZKR') and isnull(CD_DOCUMENT_ID_REFERENCE,'') = '' 
				THEN   CD_DOCUMENT_NO 
				 ELSE CD_DOCUMENT_NO END																																		AS [CD_DOCUMENT_NO]
				,CD_TYPE																																						AS CD_TYPE
		,MONTH(D_SALES_PROCESS)																																						AS [NUM_POSTING_PERIOD]
		,YEAR(D_SALES_PROCESS)																																						AS [NUM_POSTING_YEAR]
		--NOV
		,SUM( CASE WHEN isnull(T_CANCELLATION_REASON,'')  = '' AND pl.AMT_GROSS_ORDER_VALUE_EUR < 0 
						THEN (ABS(AMT_TURNOVER_EUR) - AMT_VALUE_ADDED_TAX_EUR - AMT_ORDER_DISCOUNTS_EUR + AMT_ORDER_CHARGES_EUR)*-1  
					WHEN isnull(T_CANCELLATION_REASON,'')  = '' AND  (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten')
						THEN  (AMT_NET_PRICE_EUR+AMT_NET_SHIPPING_REVENUE_EUR -AMT_NET_DISCOUNT_EUR)
					WHEN isnull(T_CANCELLATION_REASON,'')  = '' AND pl.AMT_GROSS_ORDER_VALUE_EUR >0
						THEN (AMT_TURNOVER_EUR - AMT_VALUE_ADDED_TAX_EUR - AMT_ORDER_DISCOUNTS_EUR + AMT_ORDER_CHARGES_EUR)
						ELSE  0 END)																																			AS [AMT_NET_ORDER_VALUE_ACT_EUR]
		,SUM( CASE WHEN isnull(T_CANCELLATION_REASON,'')  = '' AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten')
									THEN (AMT_NET_PRICE_EUR+AMT_NET_SHIPPING_REVENUE_EUR -AMT_NET_DISCOUNT_EUR)  ELSE 0 END)													AS [AMT_NET_ORDER_VALUE_INTERCOMPANY_ACT_EUR]
		,sum(AMT_NET_ORDER_VALUE_EST_EUR)																															AS [AMT_NET_ORDER_VALUE_EST_EUR]
		--REFUNDS
		,sum(CASE WHEN CD_TYPE in  ('ZRBI','ZREM','ZRSD','ZRET','ZGA1','ZGA2','ZGK','ZKR') THEN (AMT_NET_PRICE_EUR+AMT_NET_SHIPPING_REVENUE_EUR -AMT_NET_DISCOUNT_EUR) ELSE 0 END) AS [AMT_REFUNDED_ORDER_VALUE_ACT_EUR]
		,sum(CASE WHEN CD_TYPE in  ('ZRBI','ZREM','ZRSD','ZRET','ZGA1','ZGA2','ZGK','ZKR') AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN (AMT_NET_PRICE_EUR+AMT_NET_SHIPPING_REVENUE_EUR -AMT_NET_DISCOUNT_EUR) ELSE 0 END) AS [AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR]
		,sum(AMT_REFUNDED_ORDER_VALUE_EST_EUR)																														AS [AMT_REFUNDED_ORDER_VALUE_EST_EUR]
		,sum(AMT_RETURN_ORDER_VALUE_EST_EUR)																														AS [AMT_RETURN_ORDER_VALUE_EST_EUR]

		--PRODUCT COST
		,sum(CASE WHEN  isnull(T_CANCELLATION_REASON,'')  = '' AND CD_TYPE in ('ZAA','ZAZ','ZKE','ZSD2','ZAN') THEN AMT_MEK_HEDGING_EUR - [AMT_GTS_MARKUP] ELSE 0 END)																			AS [AMT_NET_PRODUCT_COST_ACT_EUR]
		,sum(CASE WHEN  isnull(T_CANCELLATION_REASON,'')  = '' AND CD_TYPE in ('ZAA','ZAZ','ZKE','ZSD2','ZAN') AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN AMT_MEK_HEDGING_EUR - [AMT_GTS_MARKUP] ELSE 0 END)	AS [AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR]

		,sum(AMT_NET_PRODUCT_COST_EST_EUR)																																																						AS [AMT_NET_PRODUCT_COST_EST_EUR]
		,sum(CASE WHEN isnull(T_CANCELLATION_REASON,'')  = '' AND CD_TYPE in ('ZAA','ZAZ','ZKE','ZSD2','ZAN') THEN [AMT_GTS_MARKUP] ELSE 0 END)																									AS [AMT_NET_PRODUCT_COST_GTS_ACT]
		,sum(CASE WHEN isnull(T_CANCELLATION_REASON,'')  = '' AND CD_TYPE in ('ZAA','ZAZ','ZKE','ZSD2','ZAN') AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten')  THEN [AMT_GTS_MARKUP] ELSE 0 END)							AS [AMT_NET_PRODUCT_COST_INTERCOMPANY_GTS_ACT]

		-- PC1 Lines																																	
		,SUM(AMT_FX_HEDGING_IMPACT_EST_EUR)																														AS [AMT_FX_HEDGING_IMPACT_EST_EUR]
		,SUM(AMT_COGS_STOCK_VALUE_ADJUSTMENT_EST_EUR)																												AS AMT_COGS_STOCK_VALUE_ADJUSTMENT_EST_EUR
		,SUM(AMT_DEMURRAGE_DETENTION_EUR)																														AS [AMT_DEMURRAGE_DETENTION_EST_EUR]
		,SUM(AMT_DEADFREIGHT_EUR)																																AS [AMT_DEADFREIGHT_EST_EUR]
		,SUM(AMT_KICKBACKS_EUR)																																	AS [AMT_KICKBACKS_EST_EUR]
		,SUM(AMT_3RD_PARTY_SERVICES_EUR)																														AS [AMT_3RD_PARTY_SERVICES_EST_EUR]
		,SUM(AMT_RMA_EUR)																																		AS [AMT_RMA_EST_EUR]
		,SUM(AMT_SAMPLES_EUR)																																	AS [AMT_SAMPLES_EST_EUR]
		,SUM([AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_EST_EUR])																											AS [AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_EST_EUR]
		,SUM([AMT_INBOUND_FREIGHT_COST_EST_EUR])																													AS [AMT_INBOUND_FREIGHT_COST_EST_EUR]
		,SUM(AMT_PO_CANCELLATION_EUR)																															AS [AMT_PO_CANCELLATION_EST_EUR]
		,SUM(AMT_OTHER_COGS_EFFECTS_EST_EUR)																														AS [AMT_OTHER_COSTS_EFFECTS_EST_EUR]
		--- first pl LINES							  
		,SUM(AMT_TURNOVER_EUR)																																	AS [AMT_TURNOVER_EUR]
		,SUM( CASE WHEN  ISNULL(T_CANCELLATION_REASON,'')<>  'Wrongly created' THEN pl.VL_ORDER_QUANTITY  ELSE 0 END)														AS [VL_ORDER_QUANTITY]
		,SUM(AMT_VALUE_ADDED_TAX_EUR)																																AS [AMT_VALUE_ADDED_TAX_EUR]
		,SUM(AMT_ORDER_DISCOUNTS_EUR)																															AS [AMT_NET_DISCOUNT_EUR]
		,SUM(AMT_ORDER_CHARGES_EUR)																																AS [AMT_ORDER_CHARGES_EUR]
		,SUM(AMT_GROSS_ORDER_VALUE_EUR)																															AS [AMT_GROSS_ORDER_VALUE_EUR]
		,SUM( CASE WHEN  isnull(T_CANCELLATION_REASON,'')  <> '' and T_CANCELLATION_REASON <>'Wrongly created' THEN pl.VL_ORDER_QUANTITY  ELSE 0 END)			AS [VL_CANCELLED_ORDERS_QUANTITY_ACT]
		,SUM(VL_CANCELLED_ORDERS_QUANTITY_EST)																												AS [VL_CANCELLED_ORDERS_QUANTITY_EST]	
		,SUM( CASE WHEN  isnull(T_CANCELLATION_REASON,'')  <> '' and T_CANCELLATION_REASON <>'Wrongly created' THEN pl.AMT_GROSS_ORDER_VALUE_EUR  ELSE 0 END)			AS [AMT_CANCELLED_ORDER_VALUE_ACT_EUR]
		,SUM(AMT_CANCELLED_ORDER_VALUE_EST_EUR)																													AS [AMT_CANCELLED_ORDER_VALUE_EST_EUR]
		,SUM( CASE WHEN  isnull(T_CANCELLATION_REASON,'')  = '' THEN pl.VL_ORDER_QUANTITY  ELSE 0 END)														AS [VL_NET_ORDER_QUANTITY_ACT]
		,SUM(VL_NET_ORDER_QUANTITY_EST)																														AS [VL_NET_ORDER_QUANTITY_EST]
		,SUM(AMT_REPLACEMENT_PRODUCT_COST_EST_EUR)																														AS AMT_REPLACEMENT_PRODUCT_COST_EST
		,SUM(VL_RETURNED_QUANTITY_EST)																															AS AMT_RETURNED_QUANTITY_EST
		,SUM(AMT_REPLACEMENT_ORDER_QUANTITY_EST_EUR)																													AS AMT_REPLACEMENT_ORDER_QUANTITY_EST
		,SUM(VL_REFUNDED_QUANTITY_EST)																															AS AMT_REFUNDED_QUANTITY_EST
		,SUM(CASE WHEN VL_ITEM_QUANTITY <> 0 
						THEN (((VL_NET_ORDER_QUANTITY_EST) * (ISNULL(AMT_MEK_HEDGING_EUR,0)-ISNULL(AMT_GTS_MARKUP,0)) )/ISNULL(VL_ITEM_QUANTITY,1)) * CASE WHEN CD_TYPE in ('VSC','VSD','VVA','ZAA','ZAZ','ZKE') THEN 1 ELSE 0 END  
						ELSE 0 END	)
				AS [AMT_NET_ORDER_QTY_PRODUCT_COST_EST_EUR]
		,SUM(CASE WHEN VL_ITEM_QUANTITY <> 0 
						THEN (((VL_REFUNDED_QUANTITY_EST) * (ISNULL(AMT_MEK_HEDGING_EUR,0)-ISNULL(AMT_GTS_MARKUP,0)) )/ISNULL(VL_ITEM_QUANTITY,1)) * CASE WHEN CD_TYPE in ('VSC','VSD','VVA','ZAA','ZAZ','ZKE') THEN 1 ELSE 0 END  
						ELSE 0 END	)
				AS [AMT_NET_REFUNDED_QTY_PRODUCT_COST_EST_EUR]
		--I/C Firsts lines
		--I/C
		,SUM(CASE WHEN  (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN AMT_TURNOVER_EUR ELSE 0 END)									AS [AMT_TURNOVER_INTERCOMPANY_EUR]
		,SUM( CASE WHEN  T_CANCELLATION_REASON <>'Wrongly created' AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') 
					THEN pl.VL_ORDER_QUANTITY  ELSE 0 END)																									AS [VL_ORDER_QUANTITY_INTERCOMPANY]
		,SUM(CASE WHEN  (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN AMT_VALUE_ADDED_TAX_EUR ELSE 0 END)							AS [AMT_VALUE_ADDED_TAX_INTERCOMPANY_EUR]
		,SUM(CASE WHEN  (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN AMT_ORDER_DISCOUNTS_EUR ELSE 0 END)							AS [AMT_NET_DISCOUNT_INTERCOMPANY_EUR]
		,SUM(CASE WHEN  (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN AMT_ORDER_CHARGES_EUR ELSE 0 END)							AS [AMT_ORDER_CHARGES_INTERCOMPANY_EUR]
		,SUM(CASE WHEN  (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN AMT_GROSS_ORDER_VALUE_EUR ELSE 0 END)						AS [AMT_GROSS_ORDER_VALUE_INTERCOMPANY_EUR]
		,SUM( CASE WHEN  isnull(T_CANCELLATION_REASON,'')  <> '' and T_CANCELLATION_REASON <>'Wrongly created' 
						AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') 	THEN pl.VL_ORDER_QUANTITY  ELSE 0 END)						AS [VL_CANCELLED_ORDERS_QUANTITY_INTERCOMPANY_ACT]
		,SUM( CASE WHEN  isnull(T_CANCELLATION_REASON,'')  <> '' and T_CANCELLATION_REASON <>'Wrongly created' 
					 AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten') THEN pl.AMT_GROSS_ORDER_VALUE_EUR  ELSE 0 END)					AS [AMT_CANCELLED_ORDER_VALUE_INTERCOMPANY_ACT_EUR]
		,SUM( CASE WHEN  isnull(T_CANCELLATION_REASON,'')  = ''  AND (T_SALES_CHANNEL ='Intercompany' OR T_SALES_CHANNEL ='Mandanten')
				THEN pl.VL_ORDER_QUANTITY  ELSE 0 END)																										AS [VL_NET_ORDER_QUANTITY_INTERCOMPANY_ACT]
	FROM L1.L1_FACT_A_SALES_TRANSACTION_KPI PL
	INNER JOIN L0.L0_S4HANA_2LIS_11_VAHDR vahdr   ---- Until ticket DWHCLOUD-1436 is done with adding this field to L1
		on vahdr.VBELN  = pl.CD_DOCUMENT_NO --(isnull(pl.[CD_SALES_PROCESS_ID],pl.CD_DOCUMENT_NO) )
	LEFT JOIN  [L1].L1_DIM_A_SALES_CHANNEL ch
		on ch.ID_SALES_CHANNEL = pl.ID_SALES_CHANNEL
	WHERE pl.CD_SOURCE_SYSTEM = 'SAP'
	GROUP BY 
			CASE WHEN CD_TYPE in   ('ZRBI','ZREM','ZRSD','ZRET','ZGA1','ZGA2','ZGK','ZKR') and isnull(CD_DOCUMENT_ID_REFERENCE,'') <> '' AND CD_DOCUMENT_ID_REFERENCE like '14%' THEN  CD_DOCUMENT_ID_REFERENCE 
			  WHEN CD_TYPE in   ('ZRBI','ZREM','ZRSD','ZRET','ZGA1','ZGA2','ZGK','ZKR') and isnull(CD_DOCUMENT_ID_REFERENCE,'') = '' THEN   CD_DOCUMENT_NO 
				ELSE CD_DOCUMENT_NO END	
				,MONTH(D_SALES_PROCESS),YEAR(D_SALES_PROCESS),CD_TYPE

)

INSERT INTO [L1].[L1_FACT_F_SALES_FINANCE_RECONCILIATION]
 (
        
	[CD_DOCUMENT_NO]
	,[NUM_POSTING_YEAR]
    ,[NUM_POSTING_PERIOD]
	,CD_TYPE
	,CD_DOCUMENT_TYPE_FI
		   ---FIRTSL PL LINES
			,[AMT_TURNOVER_EUR]												
	,[VL_ORDER_QUANTITY]												
	,[AMT_VALUE_ADDED_TAX_EUR]										
	,[AMT_NET_DISCOUNT_EUR]											
	,[AMT_ORDER_CHARGES_EUR]											
	,[AMT_GROSS_ORDER_VALUE_EUR]										
	,[VL_CANCELLED_ORDERS_QUANTITY_ACT]								
	,[VL_CANCELLED_ORDERS_QUANTITY_EST]								
	,[AMT_CANCELLED_ORDER_VALUE_ACT_EUR]								
	,[AMT_CANCELLED_ORDER_VALUE_EST_EUR]								
	,[VL_NET_ORDER_QUANTITY_ACT]										
	,[VL_NET_ORDER_QUANTITY_EST]										
	,[AMT_NET_ORDER_VALUE_FI_EUR]									
	,[AMT_NET_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD]				
	,[AMT_NET_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS]						
	,[AMT_NET_ORDER_VALUE_ACT_EUR_NOT_INVOICED]						
	,[AMT_NET_ORDER_VALUE_MANUAL_POSTING_FI_EUR]						
	,[AMT_NET_ORDER_VALUE_INTERCOMPANY_ACT_EUR]						
	,[AMT_NET_ORDER_VALUE_EST_EUR]									
	,[AMT_REFUNDED_ORDER_VALUE_FI_EUR]								
	,[AMT_REFUNDED_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD]			
	,[AMT_REFUNDED_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS]				
	,[AMT_REFUNDED_ORDER_VALUE_ACT_EUR_NOT_INVOICED]					
	,[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD]
	,[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS]	
	,[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_NOT_INVOICED]	
	,[AMT_REFUNDED_MANUAL_POSTING_FI_EUR]							
	,[AMT_REFUNDED_ORDER_VALUE_EST_EUR]								
	,[AMT_RETURN_ORDER_VALUE_EST_EUR]								
	,[AMT_REVENUE_MANUAL_POSTING_FI_EUR]								
	,[AMT_NET_PRODUCT_COST_FI_EUR]									
	,[AMT_NET_PRODUCT_COST_FI_RETURNS]								
	,[AMT_NET_PRODUCT_COST_FI_Z92]									
	,[AMT_NET_PRODUCT_COST_GTS_FI_EUR]								
	,[AMT_NET_PRODUCT_COST_GTS_FI_RETURNS_EUR]						
	,[AMT_NET_PRODUCT_COST_GTS_FI_Z92_EUR]							
	,[AMT_NET_PRODUCT_COST_ACT_EUR_INVOICED_IN_PERIOD]				
	,[AMT_NET_PRODUCT_COST_ACT_EUR_PRIOR_PERIODS]					
	,[AMT_NET_PRODUCT_COST_ACT_EUR_NOT_INVOICED]						
	,[AMT_NET_PRODUCT_COST_EST_EUR]									
	,[AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_INVOICED_IN_PERIOD]	
	,[AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_PRIOR_PERIODS]		
	,[AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_NOT_INVOICED]		
	,[AMT_NET_PRODUCT_COST_GTS_ACT_INVOICED_IN_PERIOD]				
	,[AMT_NET_PRODUCT_COST_GTS_ACT_PRIOR_PERIODS]					
	,[AMT_NET_PRODUCT_COST_GTS_ACT_NOT_INVOICED]						
	,[AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_INVOICED_IN_PERIOD]  
	,[AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_PRIOR_PERIODS]       
	,[AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_NOT_INVOICED]		
	,[AMT_FX_HEDGING_IMPACT_FI_EUR]									
	,[AMT_COGS_STOCK_ADJUSTMENTS_FI_EUR]										
	,[AMT_DEMURRAGE_DETENTION_FI_EUR]									
	,[AMT_DEADFREIGHT_FI_EUR]											
	,[AMT_KICKBACKS_FI_EUR]												
	,[AMT_3RD_PARTY_SERVICES_FI_EUR]										
	,[AMT_RMA_FI_EUR]													
	,[AMT_SAMPLES_FI_EUR]												
	,[AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_FI_EUR]							 
	,[AMT_INBOUND_FREIGHT_COST_FI_EUR]									
	,[AMT_PO_CANCELLATION_FI_EUR]										
	,[AMT_COGS_RECONCILIATION_FI_EUR]									
	,[AMT_OTHER_COSTS_EFFECTS_FI_EUR]									
	,[AMT_STOCK_VALUE_ADJUSTMENTS_FI_EUR]								
	,[AMT_FX_HEDGING_IMPACT_EST_EUR]										
	,[AMT_COGS_STOCK_ADJUSTMENTS_EST_EUR]								
	,[AMT_DEMURRAGE_DETENTION_EST_EUR]									
	,[AMT_DEADFREIGHT_EST_EUR]											
	,[AMT_KICKBACKS_EST_EUR]												
	,[AMT_3RD_PARTY_SERVICES_EST_EUR]									
	,[AMT_RMA_EST_EUR]													
	,[AMT_SAMPLES_EST_EUR]												
	,[AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_EST_EUR]						 
	,[AMT_INBOUND_FREIGHT_COST_EST_EUR]									
	,[AMT_PO_CANCELLATION_EST_EUR]       								
	,[AMT_OTHER_COSTS_EFFECTS_EST_EUR]									
	,AMT_REPLACEMENT_PRODUCT_COST_EST									
	,AMT_RETURNED_QUANTITY_EST											
	,AMT_REPLACEMENT_ORDER_QUANTITY_EST									
	,AMT_REFUNDED_QUANTITY_EST											
	,VL_REFUNDED_QTY_WITHOUT_RETURNS_VALUE_FI						
	,VL_REFUNDED_QTY_VALUE_FI										
	,VL_REPLACEMENT_QTY_VALUE_FI									
	,AMT_NET_REFUNDED_QTY_PRODUCT_COST_EST_EUR							
	,AMT_NET_ORDER_QTY_PRODUCT_COST_EST_EUR		
	
	,[AMT_TURNOVER_INTERCOMPANY_EUR]
	,[VL_ORDER_QUANTITY_INTERCOMPANY]
	,[AMT_VALUE_ADDED_TAX_INTERCOMPANY_EUR]
	,[AMT_NET_DISCOUNT_INTERCOMPANY_EUR]
	,[AMT_ORDER_CHARGES_INTERCOMPANY_EUR]
	,[AMT_GROSS_ORDER_VALUE_INTERCOMPANY_EUR]
	,[VL_CANCELLED_ORDERS_QUANTITY_INTERCOMPANY_ACT]
	,[AMT_CANCELLED_ORDER_VALUE_INTERCOMPANY_ACT_EUR]
	,[VL_NET_ORDER_QUANTITY_INTERCOMPANY_ACT]
           ,[DT_DWH_CREATED]
           ,[DT_DWH_UPDATED]
) -- end insert

/*****************************************************************************
** FIRST SELECT. It gets all the PL lines from accounting fact table and match 
** the correspondent values from the sales.
*****************************************************************************/

SELECT 
	ac.[CD_DOCUMENT_NO]
	,ac.[NUM_POSTING_YEAR]
	,ac.[NUM_POSTING_PERIOD]
	,CD_TYPE
	,CD_DOCUMENT_TYPE_FI
	   ---FIRSL PL LINES
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_TURNOVER_EUR] ELSE 0 END						AS [AMT_TURNOVER_EUR] 					  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[VL_ORDER_QUANTITY] ELSE 0 END						AS [VL_ORDER_QUANTITY] 				  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_VALUE_ADDED_TAX_EUR] ELSE 0 END				AS [AMT_VALUE_ADDED_TAX_EUR] 			  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_NET_DISCOUNT_EUR] ELSE 0 END					AS [AMT_NET_DISCOUNT_EUR] 		  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_ORDER_CHARGES_EUR] ELSE 0 END					AS [AMT_ORDER_CHARGES_EUR] 			  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_GROSS_ORDER_VALUE_EUR] ELSE 0 END				AS [AMT_GROSS_ORDER_VALUE_EUR] 			  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[VL_CANCELLED_ORDERS_QUANTITY_ACT] ELSE 0 END		AS [VL_CANCELLED_ORDERS_QUANTITY_ACT] 	  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[VL_CANCELLED_ORDERS_QUANTITY_EST] ELSE 0 END		AS [VL_CANCELLED_ORDERS_QUANTITY_EST] 		  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_CANCELLED_ORDER_VALUE_ACT_EUR] ELSE 0 END		AS [AMT_CANCELLED_ORDER_VALUE_ACT_EUR] 		  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_CANCELLED_ORDER_VALUE_EST_EUR] ELSE 0 END		AS [AMT_CANCELLED_ORDER_VALUE_EST_EUR] 			  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[VL_NET_ORDER_QUANTITY_ACT] ELSE 0 END				AS [VL_NET_ORDER_QUANTITY_ACT] 			  
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[VL_NET_ORDER_QUANTITY_EST] ELSE 0 END				AS [VL_NET_ORDER_QUANTITY_EST] 
	---NOV
	,ac.[AMT_NET_ORDER_VALUE_FI_EUR] 		 		* -1																		AS [AMT_NET_ORDER_VALUE_FI_EUR]
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD 
				THEN sales.[AMT_NET_ORDER_VALUE_ACT_EUR]	ELSE 0 END															AS [AMT_NET_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.NUM_POSTING_YEAR) OR (ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR 
					and ac.[NUM_POSTING_PERIOD] > sales.NUM_POSTING_PERIOD) THEN sales.[AMT_NET_ORDER_VALUE_ACT_EUR] ELSE 0 END	AS [AMT_NET_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.NUM_POSTING_YEAR) OR (ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR 
				and ac.[NUM_POSTING_PERIOD] < sales.NUM_POSTING_PERIOD) THEN sales.[AMT_NET_ORDER_VALUE_ACT_EUR] ELSE 0 END		AS [AMT_NET_ORDER_VALUE_ACT_EUR_NOT_INVOICED] --- This should be zero here as we are only retrieving acdoca data for the period. Its here as a precaution
	, AMT_NET_ORDER_VALUE_MANUAL_POSTING_FI_EUR * -1 AMT_NET_ORDER_VALUE_MANUAL_POSTING_FI_EUR
	,[AMT_NET_ORDER_VALUE_INTERCOMPANY_ACT_EUR] 
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_NET_ORDER_VALUE_EST_EUR] ELSE 0 END				AS [AMT_NET_ORDER_VALUE_EST_EUR]

	-- REFUNDS
	,ac.AMT_REFUNDED_ORDER_VALUE_FI_EUR * -1 AMT_REFUNDED_ORDER_VALUE_FI_EUR
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] = sales.[NUM_POSTING_PERIOD] 
		THEN CASE WHEN abs(ac.AMT_REFUNDED_ORDER_VALUE_FI_EUR) > 0 
		THEN sales.[AMT_REFUNDED_ORDER_VALUE_ACT_EUR] ELSE 0 END *-1	ELSE 0 END												AS [AMT_REFUNDED_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD]

	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.[NUM_POSTING_YEAR]) OR 
		(ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] > sales.[NUM_POSTING_PERIOD]) 
		THEN CASE WHEN abs(ac.AMT_REFUNDED_ORDER_VALUE_FI_EUR) > 0 THEN sales.[AMT_REFUNDED_ORDER_VALUE_ACT_EUR] ELSE 0 END *-1 
		ELSE 0 END																												AS [AMT_REFUNDED_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS]			
    ,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.[NUM_POSTING_YEAR])		
			OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] < sales.[NUM_POSTING_PERIOD]) 
		THEN sales.[AMT_REFUNDED_ORDER_VALUE_ACT_EUR] *-1 ELSE 0 END															AS [AMT_REFUNDED_ORDER_VALUE_ACT_EUR_NOT_INVOICED]
	--REFUNDS I/C
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] = sales.[NUM_POSTING_PERIOD] 
		THEN CASE WHEN abs(ac.AMT_REFUNDED_ORDER_VALUE_FI_EUR) > 0  
		THEN sales.[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR] ELSE 0 END *-1	ELSE 0 END									AS [AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD]

	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.[NUM_POSTING_YEAR]) OR 
		(ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] > sales.[NUM_POSTING_PERIOD]) 
		THEN CASE WHEN abs(ac.AMT_REFUNDED_ORDER_VALUE_FI_EUR) > 0 THEN sales.[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR] ELSE 0 END *-1 
		ELSE 0 END																												AS [AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS]			
    ,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.[NUM_POSTING_YEAR])		
			OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] < sales.[NUM_POSTING_PERIOD]) 
		THEN sales.[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR] *-1 ELSE 0 END												AS [AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_NOT_INVOICED]

	,AMT_REFUNDED_MANUAL_POSTING_FI_EUR * -1 AMT_REFUNDED_MANUAL_POSTING_FI_EUR
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_REFUNDED_ORDER_VALUE_EST_EUR] ELSE 0 END AS [AMT_REFUNDED_ORDER_VALUE_EST_EUR]
	--RETURN
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.[AMT_RETURN_ORDER_VALUE_EST_EUR] ELSE 0 END  AS [AMT_RETURN_ORDER_VALUE_EST_EUR]
	---REVENUE
	,ac.[AMT_REVENUE_MANUAL_POSTING_FI_EUR] * -1 [AMT_REVENUE_MANUAL_POSTING_FI_EUR]
	--NET PRODUCT COST WITH GTS
	,ac.AMT_NET_PRODUCT_COST_FI_EUR * -1 AMT_NET_PRODUCT_COST_FI_EUR
	,ac.AMT_NET_PRODUCT_COST_RETURNS_FI_EUR * -1 AMT_NET_PRODUCT_COST_FI_RETURNS
	,ac.AMT_NET_PRODUCT_COST_Z92_FI_EUR * -1 AMT_NET_PRODUCT_COST_FI_Z92
	--NET PRODUCT COST FI ONLY GTS
	,AMT_NET_PRODUCT_COST_GTS_FI_EUR
	,AMT_NET_PRODUCT_COST_GTS_RETURNS_FI_EUR
	,AMT_NET_PRODUCT_COST_GTS_Z92_FI_EUR
	--NET PRODUCT COST
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] = sales.[NUM_POSTING_PERIOD] 
			THEN sales.[AMT_NET_PRODUCT_COST_ACT_EUR] ELSE 0 END																AS [AMT_NET_PRODUCT_COST_ACT_EUR_INVOICED_IN_PERIOD]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.[NUM_POSTING_YEAR]) OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] 
						and ac.[NUM_POSTING_PERIOD] > sales.[NUM_POSTING_PERIOD]) 
			THEN sales.[AMT_NET_PRODUCT_COST_ACT_EUR] ELSE 0 END																AS [AMT_NET_PRODUCT_COST_ACT_EUR_PRIOR_PERIODS]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.[NUM_POSTING_YEAR]) OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] 
					and ac.[NUM_POSTING_PERIOD] < sales.[NUM_POSTING_PERIOD]) 
			THEN sales.[AMT_NET_PRODUCT_COST_ACT_EUR] ELSE 0 END																AS [AMT_NET_PRODUCT_COST_ACT_EUR_NOT_INVOICED]
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_NET_PRODUCT_COST_EST_EUR ELSE 0 END AS AMT_NET_PRODUCT_COST_EST_EUR
		--NET PRODUCT COST I/C
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] = sales.[NUM_POSTING_PERIOD] 
			THEN sales.AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR ELSE 0 END																AS [AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_INVOICED_IN_PERIOD]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.[NUM_POSTING_YEAR]) OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] 
						and ac.[NUM_POSTING_PERIOD] > sales.[NUM_POSTING_PERIOD]) 
			THEN sales.AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR ELSE 0 END																AS [AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_PRIOR_PERIODS]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.[NUM_POSTING_YEAR]) OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] 
					and ac.[NUM_POSTING_PERIOD] < sales.[NUM_POSTING_PERIOD]) 
			THEN sales.AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR ELSE 0 END																AS [AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_NOT_INVOICED]

	--NET PRODUCT COST ONLY GTS
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] = sales.[NUM_POSTING_PERIOD] 
				THEN sales.[AMT_NET_PRODUCT_COST_GTS_ACT] ELSE 0 END															AS [AMT_NET_PRODUCT_COST_GTS_ACT_INVOICED_IN_PERIOD]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.[NUM_POSTING_YEAR]) 
				OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] > sales.[NUM_POSTING_PERIOD]) 
				THEN sales.[AMT_NET_PRODUCT_COST_GTS_ACT] 	ELSE 0 END															AS [AMT_NET_PRODUCT_COST_GTS_ACT_PRIOR_PERIODS]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.[NUM_POSTING_YEAR]) 
			OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] < sales.[NUM_POSTING_PERIOD]) 
				THEN sales.[AMT_NET_PRODUCT_COST_GTS_ACT] ELSE 0 END															AS [AMT_NET_PRODUCT_COST_GTS_ACT_NOT_INVOICED]
	--NET PRODUCT COST ONLY GTS I/C
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] = sales.[NUM_POSTING_PERIOD] 
				THEN sales.AMT_NET_PRODUCT_COST_INTERCOMPANY_GTS_ACT ELSE 0 END															AS [AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_INVOICED_IN_PERIOD]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] > sales.[NUM_POSTING_YEAR]) 
				OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] > sales.[NUM_POSTING_PERIOD]) 
				THEN sales.AMT_NET_PRODUCT_COST_INTERCOMPANY_GTS_ACT 	ELSE 0 END															AS [AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_PRIOR_PERIODS]
	,CASE WHEN (ac.[NUM_POSTING_YEAR] < sales.[NUM_POSTING_YEAR]) 
			OR (ac.[NUM_POSTING_YEAR] = sales.[NUM_POSTING_YEAR] and ac.[NUM_POSTING_PERIOD] < sales.[NUM_POSTING_PERIOD])				
				THEN sales.AMT_NET_PRODUCT_COST_INTERCOMPANY_GTS_ACT ELSE 0 END		AS [AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_NOT_INVOICED]
	  --PC1 Lines 
	,[AMT_FX_HEDGING_IMPACT_FI_EUR]							 * -1 [AMT_FX_HEDGING_IMPACT_FI_EUR]
	,[AMT_COGS_STOCK_ADJUSTMENTS_FI_EUR]					 * -1 [AMT_COGS_STOCK_ADJUSTMENTS_FI_EUR]
	,[AMT_DEMURRAGE_DETENTION_FI_EUR]						 * -1 [AMT_DEMURRAGE_DETENTION_FI_EUR]
	,[AMT_DEADFREIGHT_FI_EUR]								 * -1 [AMT_DEADFREIGHT_FI_EUR]
	,[AMT_KICKBACKS_FI_EUR]									 * -1 [AMT_KICKBACKS_FI_EUR]
	,[AMT_3RD_PARTY_SERVICES_FI_EUR]						 * -1 [AMT_3RD_PARTY_SERVICES_FI_EUR]
	,[AMT_RMA_FI_EUR]										 * -1 [AMT_RMA_FI_EUR]
	,[AMT_SAMPLES_FI_EUR]									 * -1 [AMT_SAMPLES_FI_EUR]
	,[AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_FI_EUR]			 * -1 [AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_FI_EUR]
	,[AMT_INBOUND_FREIGHT_COST_FI_EUR]						 * -1 [AMT_INBOUND_FREIGHT_COST_FI_EUR]
	,[AMT_PO_CANCELLATION_FI_EUR]							 * -1 [AMT_PO_CANCELLATION_FI_EUR]

	,[AMT_COGS_RECONCILIATION_FI_EUR]						 * -1 [AMT_COGS_RECONCILIATION_FI_EUR]
	,[AMT_OTHER_COSTS_EFFECTS_FI_EUR]						 * -1 [AMT_OTHER_COSTS_EFFECTS_FI_EUR]
	,[AMT_STOCK_VALUE_ADJUSTMENTS_FI_EUR]					 * -1 [AMT_STOCK_VALUE_ADJUSTMENTS_FI_EUR]
	,[AMT_FX_HEDGING_IMPACT_EST_EUR]
	,[AMT_COGS_STOCK_VALUE_ADJUSTMENT_EST_EUR]
	,[AMT_DEMURRAGE_DETENTION_EST_EUR]
	,[AMT_DEADFREIGHT_EST_EUR]
	,[AMT_KICKBACKS_EST_EUR]
	,[AMT_3RD_PARTY_SERVICES_EST_EUR]
	,[AMT_RMA_EST_EUR]
	,[AMT_SAMPLES_EST_EUR]
	,[AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_EST_EUR]
	,[AMT_INBOUND_FREIGHT_COST_EST_EUR]
	,[AMT_PO_CANCELLATION_EST_EUR]
	,[AMT_OTHER_COSTS_EFFECTS_EST_EUR]
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_REPLACEMENT_PRODUCT_COST_EST ELSE 0 END  AS AMT_REPLACEMENT_PRODUCT_COST_EST
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_RETURNED_QUANTITY_EST ELSE 0 END  AS AMT_RETURNED_QUANTITY_EST
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_REPLACEMENT_ORDER_QUANTITY_EST ELSE 0 END  AS AMT_REPLACEMENT_ORDER_QUANTITY_EST
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_REFUNDED_QUANTITY_EST ELSE 0 END  AS AMT_REFUNDED_QUANTITY_EST
	,VL_REFUNDED_QTY_WITHOUT_RETURNS_VALUE_FI
	,VL_REFUNDED_QTY_VALUE_FI
	,VL_REPLACEMENT_QTY_VALUE_FI
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_NET_REFUNDED_QTY_PRODUCT_COST_EST_EUR ELSE 0 END  AS AMT_NET_REFUNDED_QTY_PRODUCT_COST_EST_EUR
	,CASE WHEN ac.[NUM_POSTING_YEAR] = sales.NUM_POSTING_YEAR and ac.[NUM_POSTING_PERIOD] = sales.NUM_POSTING_PERIOD  THEN sales.AMT_NET_ORDER_QTY_PRODUCT_COST_EST_EUR ELSE 0 END  AS AMT_NET_ORDER_QTY_PRODUCT_COST_EST_EUR
	
	,[AMT_TURNOVER_INTERCOMPANY_EUR]
	,[VL_ORDER_QUANTITY_INTERCOMPANY]
	,[AMT_VALUE_ADDED_TAX_INTERCOMPANY_EUR]
	,[AMT_NET_DISCOUNT_INTERCOMPANY_EUR]
	,[AMT_ORDER_CHARGES_INTERCOMPANY_EUR]
	,[AMT_GROSS_ORDER_VALUE_INTERCOMPANY_EUR]
	,[VL_CANCELLED_ORDERS_QUANTITY_INTERCOMPANY_ACT]
	,[AMT_CANCELLED_ORDER_VALUE_INTERCOMPANY_ACT_EUR]
	,[VL_NET_ORDER_QUANTITY_INTERCOMPANY_ACT]

	,sysdatetime() as [DT_DWH_CREATED]
	,sysdatetime() as [DT_DWH_UPDATED]
FROM CTE_ACDOCA ac
LEFT JOIN CTE_SALES_ORDERS sales
	on sales.[CD_DOCUMENT_NO] = ac.[CD_DOCUMENT_NO]


UNION

/*****************************************************************************
** SECOND SELECT. It gets all the PL lines from sales data  
** of the period, which don't have a match in FI
*****************************************************************************/
SELECT 
	sales.[CD_DOCUMENT_NO]
	,sales.[NUM_POSTING_YEAR]
	,sales.[NUM_POSTING_PERIOD]
	,CD_TYPE
	,NULL AS FI_DOCUMENT_TYPE
	   ---FIRSL PL LINES
	,sales.[AMT_TURNOVER_EUR] 					  
	,sales.[VL_ORDER_QUANTITY] 				  
	,sales.[AMT_VALUE_ADDED_TAX_EUR] 			  
	,sales.[AMT_NET_DISCOUNT_EUR] 		  
	,sales.[AMT_ORDER_CHARGES_EUR] 			  
	,sales.[AMT_GROSS_ORDER_VALUE_EUR] 			  
	,sales.[VL_CANCELLED_ORDERS_QUANTITY_ACT] 	  
	,sales.[VL_CANCELLED_ORDERS_QUANTITY_EST] 		  
	,sales.[AMT_CANCELLED_ORDER_VALUE_ACT_EUR] 		  
	,sales.[AMT_CANCELLED_ORDER_VALUE_EST_EUR] 			  
	,sales.[VL_NET_ORDER_QUANTITY_ACT] 			  
	,sales.[VL_NET_ORDER_QUANTITY_EST] 
	---NOV
	,0																		AS AMT_NET_ORDER_VALUE_FI_EUR
	,0																		AS AMT_NET_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD
	,0																		AS AMT_NET_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS
	,sales.[AMT_NET_ORDER_VALUE_ACT_EUR]									AS AMT_NET_ORDER_VALUE_ACT_EUR_NOT_INVOICED
	,0																		AS AMT_NET_ORDER_VALUE_MANUAL_POSTING_FI_EUR
	,[AMT_NET_ORDER_VALUE_INTERCOMPANY_ACT_EUR]
	,AMT_NET_ORDER_VALUE_EST_EUR
	--REFUNDS
	,0																		AS AMT_REFUNDED_ORDER_VALUE_FI_EUR
	,0																		AS AMT_REFUNDED_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD
	,0																		AS AMT_REFUNDED_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS
	,[AMT_REFUNDED_ORDER_VALUE_ACT_EUR]*-1										AS AMT_REFUNDED_ORDER_VALUE_ACT_EUR_NOT_INVOICED
	,0																		AS AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_INVOICED_IN_PERIOD
	,0																		AS AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_PRIOR_PERIODS
	,[AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR]						AS AMT_REFUNDED_INTERCOMPANY_ORDER_VALUE_ACT_EUR_NOT_INVOICED
	,AMT_REFUNDED_MANUAL_POSTING_FI_EUR
	,AMT_REFUNDED_ORDER_VALUE_EST_EUR
	--returns
	,[AMT_RETURN_ORDER_VALUE_EST_EUR]
	--REVENUE
	,[AMT_REVENUE_MANUAL_POSTING_FI_EUR]
	--NET PRODUCT COST WITH GTS
	,0																		AS AMT_NET_PRODUCT_COST_FI_EUR
	,0																		AS AMT_NET_PRODUCT_COST_FI_RETURNS
	,0																		AS AMT_NET_PRODUCT_COST_FI_Z92
	--NET PRODUCT COST FI ONLY GTS
	,0																		AS AMT_NET_PRODUCT_COST_GTS_FI_EUR
	,0																		AS AMT_NET_PRODUCT_COST_GTS_FI_RETURNS_EUR
	,0																		AS AMT_NET_PRODUCT_COST_GTS_FI_Z92_EUR
    --NET PRODUCT COST
	,0																		AS AMT_NET_PRODUCT_COST_ACT_EUR_INVOICED_IN_PERIOD
	,0																		AS AMT_NET_PRODUCT_COST_ACT_EUR_PRIOR_PERIODS
	,[AMT_NET_PRODUCT_COST_ACT_EUR]											AS AMT_NET_PRODUCT_COST_ACT_EUR_NOT_INVOICED
	,[AMT_NET_PRODUCT_COST_EST_EUR]
	 --NET PRODUCT COST I/C
	,0																		AS AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_INVOICED_IN_PERIOD
	,0																		AS AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_PRIOR_PERIODS
	,AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR								AS AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR_NOT_INVOICED
	 --NET PRODUCT COST ONLY GTS
	,0																		AS AMT_NET_PRODUCT_COST_GTS_ACT_INVOICED_IN_PERIOD
	,0																		AS AMT_NET_PRODUCT_COST_GTS_ACT_PRIOR_PERIODS
	,[AMT_NET_PRODUCT_COST_GTS_ACT]											AS AMT_NET_PRODUCT_COST_GTS_ACT_NOT_INVOICED
	 --NET PRODUCT COST ONLY GTS I/C
	,0																		AS AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_INVOICED_IN_PERIOD
	,0																		AS AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_PRIOR_PERIODS
	,AMT_NET_PRODUCT_COST_INTERCOMPANY_ACT_EUR								AS AMT_NET_PRODUCT_COST_GTS_INTERCOMPANY_ACT_NOT_INVOICED
	 --PC1 Lines
	,0																		AS [AMT_FX_HEDGING_IMPACT_FI_EUR]
	,0																		AS [AMT_COGS_STOCK_ADJUSTMENTS_FI_EUR]
	,0																		AS [AMT_DEMURRAGE_DETENTION_FI_EUR]
	,0																		AS [AMT_DEADFREIGHT_FI_EUR]
	,0																		AS [AMT_KICKBACKS_FI_EUR]
	,0																		AS [AMT_3RD_PARTY_SERVICES_FI_EUR]
	,0																		AS [AMT_RMA_FI_EUR]
	,0																		AS [AMT_SAMPLES_FI_EUR]
	,0																		AS [AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_FI_EUR]
	,0																		AS [AMT_INBOUND_FREIGHT_COST_FI_EUR]
	,0																		AS [AMT_PO_CANCELLATION_FI_EUR]
	,0																		AS [AMT_COGS_RECONCILIATION_FI_EUR]
	,0																		AS [AMT_OTHER_COSTS_EFFECTS_FI_EUR]
	,0																		AS [AMT_STOCK_VALUE_ADJUSTMENTS_FI_EUR]
	,[AMT_FX_HEDGING_IMPACT_EST_EUR]
	,[AMT_COGS_STOCK_VALUE_ADJUSTMENT_EST_EUR]
	,[AMT_DEMURRAGE_DETENTION_EST_EUR]
	,[AMT_DEADFREIGHT_EST_EUR]
	,[AMT_KICKBACKS_EST_EUR]
	,[AMT_3RD_PARTY_SERVICES_EST_EUR]
	,[AMT_RMA_EST_EUR]
	,[AMT_SAMPLES_EST_EUR]
	,[AMT_DROPSHIPMENT_CEOTRA9ER_ARTIKEL_EST_EUR]
	,[AMT_INBOUND_FREIGHT_COST_EST_EUR]
	,[AMT_PO_CANCELLATION_EST_EUR]
	,[AMT_OTHER_COSTS_EFFECTS_EST_EUR]
	,AMT_REPLACEMENT_PRODUCT_COST_EST
	,AMT_RETURNED_QUANTITY_EST
	,AMT_REPLACEMENT_ORDER_QUANTITY_EST
	,AMT_REFUNDED_QUANTITY_EST
	,0 AS AMT_REFUNDED_QTY_WITHOUT_RETURNS_VALUE_FI_EUR
	,0 AS AMT_REFUNDED_QTY_VALUE_FI_EUR
	,0 AS AMT_REPLACEMENT_QTY_VALUE_FI_EUR
	,AMT_NET_REFUNDED_QTY_PRODUCT_COST_EST_EUR
	,AMT_NET_ORDER_QTY_PRODUCT_COST_EST_EUR
	,[AMT_TURNOVER_INTERCOMPANY_EUR]
	,[VL_ORDER_QUANTITY_INTERCOMPANY]
	,[AMT_VALUE_ADDED_TAX_INTERCOMPANY_EUR]
	,[AMT_NET_DISCOUNT_INTERCOMPANY_EUR]
	,[AMT_ORDER_CHARGES_INTERCOMPANY_EUR]
	,[AMT_GROSS_ORDER_VALUE_INTERCOMPANY_EUR]
	,[VL_CANCELLED_ORDERS_QUANTITY_INTERCOMPANY_ACT]
	,[AMT_CANCELLED_ORDER_VALUE_INTERCOMPANY_ACT_EUR]
	,[VL_NET_ORDER_QUANTITY_INTERCOMPANY_ACT]
	,sysdatetime()															as [DT_DWH_CREATED]
	,sysdatetime()															as [DT_DWH_UPDATED]
FROM CTE_SALES_ORDERS sales
LEFT JOIN CTE_ACDOCA acdoca
	on sales.[CD_DOCUMENT_NO] = acdoca.[CD_DOCUMENT_NO]
WHERE 
	acdoca.[CD_DOCUMENT_NO] is null
	AND sales.NUM_POSTING_YEAR = @NUM_POSTING_YEAR 
	AND sales.NUM_POSTING_PERIOD = @NUM_POSTING_PERIOD 











--END
 

